.button.absolute {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

div.avatar-container {
  position: relative;
  padding: 0.1rem;
  flex: 1 0 15%;
}

img.avatar {
  border-radius: 50%;
  max-width: 2.4rem;
}

@media only screen and (min-height: 900px) and (max-height: 1289px) {
  img.avatar {
    max-width: 6.8rem;
  }
}

@media only screen and (min-height: 1290px) {
  img.avatar {
    max-width: 10.4rem;
  }
}
