.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 0px;
}

.container {
  margin: auto;
  max-width: 60%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.message.container {
  background-color: #f8f8f9;
  /* border-color: black;
  border-style: solid;
  border-radius: 25px;
  border-color: #6c6c6c; */
  max-width: 85%;
  border-width: thin;
  color: #6c6c6c;
}

.menu.container {
  width: 100%;
  min-height: 5vh;
  background-color: black;
  padding: 2rem;
  flex: 0 1 auto;
}

.user-info.container {
  background-color: white;
  border-bottom: 0.2rem solid #f8f8f9;
}

.footer.container {
  width: 100%;
  min-height: 5vh;
  flex: 0 1 40px;
  background-color: black;
  padding: 2rem;
  height: 100%;
}

.content.container {
  min-height: 90vh;
}

.fluid.container {
  max-width: 100%;
}

.sticky.container {
  position: sticky;
  top: 0;
  border-bottom: solid #6c6c6c;
}
