.container {
  margin: 0 auto;
  max-width: 75%;
}

.center.container {
  text-align: center;
  padding: 10px;
}

.header.container {
  background-color: black;
}

.fluid.container {
  max-width: 100%;
}

/* .right.container {
  text-align: right;
}

.left.container {
  text-align: left;
}

.justified.container {
  text-align: justify;
}
*/
